* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-weblot-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


body {
	font-family: 'Varela Round', sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.main {
	/* background: image-url("card-bg.jpg") no-repeat;
	background-size: cover; */
	padding: 2rem 0rem 2rem 0rem;
}

.container {
	position: relative;
}

.container::before {
	content: "";
	position: absolute;
	top: -16px;
	left: 0;
	background: image-url("kstu-logo-bg.png") no-repeat;
	background-size: cover;
	width: 200px;
	height: 64px;
}

.text-center {
	font-style: oblique;
}

.personal-card {
	margin: 3rem 0rem 3rem 0rem;
}

.personal-card__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-style: oblique;
}

.personal-card__title {
	position: relative;
}

.personal-card__title::before {
	content: "";
	position: absolute;
	top: -75px;
	left: 0;
	background: image-url("form-title-logo.png") no-repeat;
	background-size: cover;
	width: 197px;
	height: 137px;
}

.personal-card__info {
	font-size: 1.3rem;
	font-weight: 500;
}

.content__row {
	display: flex;
}

.content__right-box {
	margin: 0rem 0rem 0rem -15rem;
}


.content__right-info {
	text-align: center;
	font-size: 2rem;
	line-height: 2.2rem;
	font-weight: 500;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	margin: 0rem 0rem 2rem 0rem;
	padding: 0rem 0rem .3rem 0rem;
	font-style: oblique;
}

.content__list {}

.content__list-item {
	font-size: 1.3rem;
	margin: 0rem 0rem 2rem 0rem;
	width: 300px;
}

.content__list-link {
	display: inline-block;
	text-shadow: #2e7ebd 0 1px 2px;
	text-align: center;
	color: #fff;
	padding: .7em;
	border-radius: 6px;
	background-color: #007bff;
	text-decoration: none;
	width: 100%;
	transition: background-color .2s ease-in-out;
	font-style: oblique;
}

.content__list-link:hover {
	color: #fff;
	background-color: darken(#007bff, 10%);
}

.personal-card__bottom {
	margin: 1rem 0rem 0rem 0rem;
	font-size: 1.3rem;
	font-weight: 600;
	font-style: oblique;
	position: relative;
	padding: 0rem 0rem 0rem 1.8rem;
}

.personal-card__bottom::before {
	content: "!";
	position: absolute;
	top: -1.3rem;
	left: 0;
	font-size: 4rem;
	font-style: normal;
	font-weight: 900;
	color: red;
}

.personal-card__text {
	margin-bottom: 0;
}

.personal-card__list {
	margin-bottom: 0;
}

.personal-card__item {}

.personal-card__info-text {
	color: red;
}

@media(max-width:1300px) {
	.container::before {
		background-image: none;
	}
}

@media(max-width:1024px) {
	.content__row {
		flex-direction: column;
	}

	.personal-card {
		margin: 2rem 0rem 2rem 0rem;
	}

	.row {
		justify-content: center;
	}

	.personal-card__header {
		justify-content: center;
	}

	.personal-card__info {
		display: none;
	}

	.content__right-box {
		margin: 2rem 0rem 0rem 0rem;
	}

	.content__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.content__list-item {
		width: 45%;
	}
}

@media(max-width:800px) {
	.col-4 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-8 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.personal-card__bottom {
		font-size: 1rem;
	}

	.content__list-link {
		padding: 0.5em;
	}
}

@media(max-width:500px) {
	.content__list-item {
		width: 100%;
	}

	.content__right-info {
		font-size: 1.6rem;
		line-height: 1.8rem;
	}

	.content__list-link {
		font-size: 1.2rem;
	}

	.personal-card__bottom {
		margin-top: 0;
	}
}